/* body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 

  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* homepage */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 15px 0;
  height: 80px;
  box-shadow: 3px 3px 3px 3px #9b9090;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;

 
}

.navbar .menu ul {
  display: flex;
 
}
.navbar .menu ul li {
  padding: 15px 50px 0 0;
  cursor: pointer;
  transition: 0.9s;
  list-style: none;
}
.navbar .menu ul li a {
  color: crimson;
}
.navbar .menu ul li a:hover {
  color: white;
  background-color: crimson;
}

.hee {
  color: crimson;
  font-size: 2em;
}
.mah {
  color: black;
  font-size: 1em;
}
.flower {
  color: crimson;
}
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
overflow: hidden;
}
#nick {
  color: crimson;
  font-size: 3em;
  text-align: center;
  margin: 15px;
}
.myself {
  width: 50%;
}

.details {
  padding-bottom: 15px;
  text-align: center;
  color: crimson;
}
.hobbies {
  
  background-color: rgb(250, 254, 255);
  padding: 20px 10px;
  border-radius: 10px 20px 0 20px;
  box-shadow: 3px 3px 3px 3px #9b9090;
}

.priorities {
 
  background-color: rgb(250, 254, 255);
  padding: 20px 10px;
  border-radius: 10px 20px 0 20px;
  box-shadow: 3px 3px 3px 3px #9b9090;
}
.skills {
  width: 100%;
  background-color: rgb(250, 254, 255);
  padding: 20px 10px;
  border-radius: 10px 20px 0 20px;
  box-shadow: 3px 3px 3px 3px #9b9090;
}
.list {
  width: 100%;
  text-align: center;
  list-style-type: square;
  list-style-position: inside;
  font-size: 1.5em;
}
/* contact btn */
.contact {
  margin: 50px 200px 100px 200px;
  display: inline-block;
  padding: auto 2px;
  border: none;
  border-radius: 10px;
  color: black;
  background-color: crimson;
  width: 200px;
  height: 40px;
  text-align: center;

  font-size: 1.5em;
  font-weight: bold;
  box-shadow: 3px 3px 3px 3px #9b9090;
  cursor: pointer;
}
.contact a:hover {
  color: white;
}
/* image */
img {
  filter: contrast(130%) brightness(100%);
  box-shadow: 1px 1px 1px 1px #9b9090;
}
div.photo {
  background-color: rgb(250, 254, 255);
  margin: 25px 0;
  padding: 3px 3px 70px 3px;
  width: 30%;
  border-radius: 0px 0 20px 20px;
  box-shadow: 3px 3px 3px 3px #9b9090;
}

/* form */
.form {
  width: 350px;

  background-color: rgb(250, 254, 255);

  border-radius: 10px;
  padding: 50px 15px;
  margin: 150px auto;
  box-shadow: 3px 3px 3px 3px #9b9090;
}

/* h2 */
.form h2 {
  width: 220px;
  text-align: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;

  margin: 10px auto 10px auto;
  color: crimson;
}
/* input */
.input {
  width: 300px;
  height: 27px;

  border-bottom: 1.5px solid crimson;
  border-right: none;
  border-left: none;
  border-top: none;
  background-color: #ffffff;
  border-radius: 0px 7px;
  box-shadow: 3px 3px 3px 3px #9b9090;
  margin-bottom: 20px;
  margin-top: 5px;
}
/* label */
label {
  font-size: 15px;
  font-weight: bold;
}
/* textarea */
textarea {
  border-bottom: 1.5px solid crimson;
  border-right: none;
  border-left: none;
  border-top: none;
  background-color: #ffffff;
  border-radius: 0px 7px;
  box-shadow: 3px 3px 3px 3px #9b9090;
  width: 300px;
  height: 150px;
  margin-bottom: 20px;
  margin-top: 5px;
}
/* hr */
hr {
  height: 3px;
  background-color: crimson;
  border: none;
  margin: auto;
  margin-bottom: 25px;
  width: 290px;
}
/* select */
.select {
  width: 300px;
  height: 27px;
  border-bottom: 1.5px solid crimson;
  border-right: none;
  border-left: none;
  border-top: none;
  background-color: #ffffff;
  border-radius: 0px 7px;
  box-shadow: 3px 3px 3px 3px #9b9090;
  margin-bottom: 20px;
  margin-top: 5px;
}
/* signin */
.signin {
  text-align: center;
  font-weight: bold;
}
.signin a {
  color: crimson;
}
/* submit */
.submit {
  margin: 25px 100px 10px 100px;
  display: inline-block;
  padding: auto 2px;
  border: none;
  border-radius: 10px;
  color: black;
  background-color: crimson;
  width: 120px;
  height: 40px;
  text-align: center;

  font-size: 1.5em;
  font-weight: bold;
  box-shadow: 3px 3px 3px 3px #9b9090;
  cursor: pointer;
}
/* navbardown */
.navbardown {
  background-color: crimson;
  overflow: hidden;
  height: 40px;
  box-shadow: 3px 3px 3px 3px #9b9090;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;

  margin-top: 1000px;
}

@media screen and  (max-width: 280px) {
  .intro {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 0 auto;
   
  }

  .myself {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .myself h1 {
    text-align: center;
  }
  .navbar {
    justify-content:flex-start;
   align-items: center;
   width: 100%;
   
   
  }
  .navbar .menu ul li {
    padding: 15px 10px 0 0;
    cursor: pointer;
    transition: 0.9s;
    list-style: none;
 
    
  }
  hr {
    max-width: 50%;
  }
  .flower {
    margin-right: 10px;
  }
  .form {
width: 100%;
margin-left:20px;
margin-right: 20px;
justify-content: center;



}
.input {
  width: 100%;
 
}
textarea {
width:100%;
}
.submit {
margin:10px 80px;
width: 100px;
}
.select {
  width:100%;

}
}