/* body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
}
/* homepage */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 15px 0;
  height: auto;
  box-shadow: 3px 3px 3px 3px #9b9090;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.navbar .menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .menu ul li {
  padding: 15px 50px 0 0;
  cursor: pointer;
  transition: 0.9s;
  list-style: none;
}
.navbar .menu ul li a {
  color: crimson;
}
.navbar .menu ul li a:hover {
  color: white;
  background-color: crimson;
}
.hee {
  color: crimson;
  font-size: 2em;
}
.mah {
  color: black;
  font-size: 1em;
}
.flower {
  color: crimson;
}
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 90%;
}
.nick {
  color: crimson;
  width: 50%;
  text-align: center;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#name {
  text-align: center;
  font-size: 15px;
  color: black;
}
.about {
  text-align: center;
  font-size: 10px;
  color: black;
}
.aboutme {
  width: 100%;
}
.myself {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  gap: 30px;
  flex-direction: column;
}
.details {
  padding-bottom: 15px;
  text-align: center;
  color: crimson;
}
.hobbies {
  background-color: rgb(250, 254, 255);
  padding: 20px 10px;
  border-radius: 10px 20px 0 20px;
  box-shadow: 3px 3px 3px 3px #9b9090;
}
.priorities {
  background-color: rgb(250, 254, 255);
  padding: 20px 10px;
  border-radius: 10px 20px 0 20px;
  box-shadow: 3px 3px 3px 3px #9b9090;
}
.skills {
  width: 100%;
  background-color: rgb(250, 254, 255);
  padding: 20px 10px;
  border-radius: 10px 20px 0 20px;
  box-shadow: 3px 3px 3px 3px #9b9090;
}
.list {
  width: 100%;
  text-align: center;
  list-style-type: square;
  list-style-position: inside;
  font-size: 1.5em;
}
/* contact btn */
.contact {
  display: inline-block;
  padding: 5px 2px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: crimson;
  width: 200px;
  height: 40px;
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.5em;
  font-weight: bold;
  box-shadow: 3px 3px 3px 3px #9b9090;
  cursor: pointer;
}
.contact a:hover {
  color: white;
}
/* image */
img {
  filter: contrast(130%) brightness(100%);
  box-shadow: 1px 1px 1px 1px #9b9090;
  width: 100%;
}
.photo {
  background-color: rgb(250, 254, 255);
  padding: 3px 3px 70px 3px;
  overflow: hidden;
  border-radius: 0px 0 20px 20px;
  box-shadow: 3px 3px 3px 3px #9b9090;
  width: 70%;
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 90%;
  min-height: 100vh;
}
/* form */
.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 254, 255);
  border-radius: 10px;
  padding: 50px 20px;
  margin: 150px auto;
  box-shadow: 3px 3px 3px 3px #9b9090;
}
/* h2 */
.form h2 {
  text-align: center;
  font-size: 25px;
  margin: auto;
  color: crimson;
}
/* input */
.input {
  width: 100%;
  height: 27px;
  border-bottom: 1.5px solid crimson;
  border-right: none;
  border-left: none;
  border-top: none;
  background-color: #ffffff;
  border-radius: 0px 7px;
  box-shadow: 3px 3px 3px 3px #9b9090;
  margin-bottom: 15px;
  margin-top: 5px;
}
/* label */
label {
  font-size: 15px;
  font-weight: bold;
}
/* textarea */
textarea {
  border-bottom: 1.5px solid crimson;
  border-right: none;
  border-left: none;
  border-top: none;
  background-color: #ffffff;
  border-radius: 0px 7px;
  box-shadow: 3px 3px 3px 3px #9b9090;
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
  margin-top: 5px;
}
/* hr */
hr {
  height: 3px;
  background-color: crimson;
  border: none;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 90%;
}
/* select */
.select {
  width: 100%;
  height: 27px;
  border-bottom: 1.5px solid crimson;
  border-right: none;
  border-left: none;
  border-top: none;
  background-color: #ffffff;
  border-radius: 0px 7px;
  box-shadow: 3px 3px 3px 3px #9b9090;
  margin-bottom: 15px;
  margin-top: 5px;
}
/* signin */
.signin {
  text-align: center;
  font-weight: bold;
}
.signin a {
  color: crimson;
}
/* submit */
.submit {
  margin: 20px 100px;
  display: inline-block;
  padding: auto 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: crimson;
  width: 100px;
  height: 30px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 3px 3px 3px 3px #9b9090;
  cursor: pointer;
}
/* navbardown */
.navbardown {
  background-color: crimson;
  overflow: hidden;
  height: 40px;
  box-shadow: 3px 3px 3px 3px #9b9090;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  margin-top: 1000px;
}

@media screen and (max-width: 768px) {
  .hee {
    font-size: 30px;
  }
  .mah {
    font-size: 15px;
  }
  .flower {
    font-size: 15px;
  }
  .navbar .menu ul li {
    padding: 15px 0;
    cursor: pointer;
    transition: 0.9s;
    list-style: none;
    font-size: 10px;
    margin-left: 10px;
  }
  .navbar .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 15px 5px;
  }
  .intro {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0;
  }

  .body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 70%;
    min-height: 100vh;
  }
  .form {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input {
    max-width: 90%;
  }
  textarea {
    width: 90%;
  }
  .submit {
    width: 90px;
  }
  .select {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  .body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
  }
  .form {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input {
    max-width: 95%;
  }
  textarea {
    width: 90%;
  }
  .submit {
    width: 90px;
  }
  .select {
    width: 95%;
  }
}
@media screen and (max-width: 350px) {
  .hee {
    font-size: 20px;
  }
  .mah {
    font-size: 10px;
  }
  .flower {
    font-size: 10px;
  }
  .navbar .menu ul li {
    padding: 15px 0;
    cursor: pointer;
    transition: 0.9s;
    list-style: none;
    font-size: 7px;
    margin-left: 5px;
  }
  .navbar .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 15px 5px;
  }
  .list {
    font-size: 15px;
  }
  .contact {
    padding: 10px 2px;
    width: 100px;
    font-size: 1rem;
  }
  .body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
  }
  .form {
    width: 97%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .label {
    margin-left: 16px;
  }
  .input {
    max-width: 90%;
    margin-left: 16px;
  }
  textarea {
    width: 90%;
    margin-left: 16px;
  }
  .submit {
    width: 90px;
  }
  .select {
    width: 90%;
    margin-left: 16px;
  }
}

@media screen and (max-width: 300px) {
  .body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
  }
  .form {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .label {
    margin-left: 40px;
  }
  .input {
    max-width: 70%;
    margin-left: 40px;
  }
  textarea {
    width: 70%;
    margin-left: 40px;
  }
  .submit {
    width: 90px;
  }
  .select {
    width: 70%;
    margin-left: 40px;
  }
}
